{%- comment -%}
  Cart drawer (slide-out cart with items, summary, upsells, discount code).
  params: section
{%- endcomment -%}

{{- 'component-cart-drawer.css' | asset_url | stylesheet_tag -}}
{{- 'component-cart.css' | asset_url | stylesheet_tag -}}

{% if template.name != 'cart' %}<script src="{{- 'cart.js' | asset_url -}}" defer="defer"></script>{% endif %}
<script src="{{- 'cart-info-bar-slider.js' | asset_url -}}" defer="defer"></script>

{%- style -%}
  cart-drawer .cart-item .media { aspect-ratio: {{ section.settings.card_media_aspect_ratio }}; }
{%- endstyle -%}

<cart-drawer>
  <div class="color-{{ settings.color_scheme_for_drawers }} gradient">
    <div class="cart-drawer" id="{{- section.id -}}">
      <div class="cart-drawer__inner" role="dialog" aria-modal="true" aria-label="{{- 'cart.title' | t -}}" tabindex="-1">
        {%- if section.blocks.size > 0 -%}
        <cart-drawer-info-slider class="cart-drawer__information-bar">
          <div class="swiper cart-drawer__swiper">
            <div class="swiper-wrapper">
              {%- for cd_block in section.blocks -%}
                {% if cd_block.settings.title != blank %}
                <div class="swiper-slide">
                  <div class="cart-drawer__information-bar-content">
                    {%- if cd_block.settings.icon != blank or cd_block.settings.custom_icon != blank -%}
                      <div class="cart-drawer__info-icon icon">
                        {% liquid
                          assign cd_icon_alt = cd_block.settings.title | default: nil
                          if cd_block.settings.custom_icon
                            echo cd_block.settings.custom_icon | image_url: width: 24 | image_tag: alt: cd_icon_alt
                          elsif cd_block.settings.icon != blank
                            render 'icon', icon_name: cd_block.settings.icon
                          endif
                        %}
                      </div>
                    {%- endif -%}
                    {%- if cd_block.settings.title -%}<p>{{ cd_block.settings.title }}</p>{%- endif -%}
                  </div>
                </div>
                {%- endif -%}
              {%- endfor -%}
            </div>
          </div>
        </cart-drawer-info-slider>
        {%- endif -%}

        <div class="cart-drawer__head">
          <p class="cart-drawer__title h4">{{- 'cart.title' | t -}}<span class="cart-drawer__title-counter">{{- cart.item_count -}}</span></p>
          <button class="cart-drawer__close" type="button" onclick="this.closest('cart-drawer').close()" aria-label="{{- 'theme.actions.close' | t -}}" data-drawer-close>{%- render 'icon', icon_name: 'theme-close' -%}</button>
        </div>

        <div class="cart-drawer__top">{%- render 'shipping-bar', class: 'cart-drawer__bar' -%}</div>

        <div class="cart-drawer__body" id="CartDrawer-Body" data-cart-body>
          {%- if cart == empty -%}
            {%- liquid
              assign cd_empty_title = "cart.empty_title_html" | t
              assign cd_empty_sub = "cart.empty_subtitle" | t
              assign cd_empty_btn = "cart.empty_button_label" | t
              assign cd_btn_url = section.settings.button_url
              if cd_btn_url == blank or cd_btn_url contains 'shopify://'
                assign cd_btn_url = routes.all_products_collection_url
              endif
            -%}
            <div class="cart-drawer__empty">
              <h2 class="cart-drawer__empty-text">{{- cd_empty_title -}}</h2>
              <span class="cart-drawer__empty-desc">{{ cd_empty_sub }}</span>
              <a href="{{ cd_btn_url }}" class="button button--outlined" style="cursor: pointer !important;">
                {{- cd_empty_btn -}}
              </a>
            </div>
          {%- else -%}
            <div class="cart-drawer__main">
              <cart-drawer-items class="cart-drawer-items {% if recommendations.products_count == 0 %}cart-drawer-items__full{% endif %}">
                <div class="cart-drawer__spinner">{%- render 'loading-spinner' -%}</div>
                <form action="{{- routes.cart_url -}}" id="CartDrawer-Form" class="cart-drawer__form" method="post">
                  <div class="cart-drawer__contents" id="CartDrawer-CartItems">
                    <div class="cart-drawer__items">{%- for cd_item in cart.items -%}{%- render 'line-item', line_item: cd_item -%}{%- endfor -%}</div>
                  </div>
                </form>
              </cart-drawer-items>
              {%- if settings.enable_cart_upsell -%}{%- render 'product-recommendations', area: 'cart-drawer', class: 'cart-drawer__recommendations', product_id: cart.items[0].product_id -%}{%- endif -%}
            </div>

            <div class="cart-drawer__bottom">
              <div class="cart-drawer__summary">
                <form action="{{- routes.cart_url -}}" id="CartDrawer-FormSummary" class="cart-drawer__form-summary" method="post">
                  <div id="cart-summary">
                    <div class="cart-drawer__summary-total h4">
                      <div class="cart-drawer__summary-content">
                        <span>{{- 'customer.order.subtotal' | t -}}</span>
                        {%- if cart.taxes_included or cart.duties_included or shop.shipping_policy.body != blank -%}
                          <p class="cart__summary-tax">
                            {%- if cart.duties_included and cart.taxes_included -%}{{ 'product.duties_and_taxes_included' | t }}
                            {%- elsif cart.taxes_included -%}{{ 'product.taxes_included' | t }}
                            {%- elsif cart.duties_included -%}{{ 'product.duties_included' | t }}{%- endif -%}
                            {%- if shop.shipping_policy.body != blank -%}{{ 'product.shipping_policy_html' | t: link: shop.shipping_policy.url }}{%- endif -%}
                          </p>
                        {%- endif -%}
                      </div>
                      <span class="cart-drawer__total-price" data-cart-total-price="{{- cart.total_price -}}">{{- cart.items_subtotal_price | money_with_currency -}}</span>
                    </div>

                    {%- if cart.discount_applications != empty -%}
                      <ul class="cart-drawer__summary-discounts list-unstyled" role="list" aria-label="{{- 'customer.order.discount' | t -}}">
                        {%- for cd_disc in cart.discount_applications -%}
                          <li>{%- render 'icon', icon_name: 'theme-sale-tag' -%}<span>{{ cd_disc.title }}(-{{ cd_disc.total_allocated_amount | money }})</span></li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}

                    <div class="cart-drawer__discount">
                      <accordion-default class="accordion" data-hide-multiple>
                        <details class="accordion__section" open>
                          <summary class="accordion__button h5 js-btn">
                            <label for="CartDrawer-DiscountCode">{{- 'cart.discount_code' | t -}}</label>
                            <div class="accordion__icon">{% render 'icon', icon_name: 'theme-chevron-down' %}</div>
                          </summary>
                          <div class="accordion__body">
                            <div class="accordion__body-inner">
                              <div class="cart-drawer__discount-form" id="CartDrawer-DiscountForm">
                                <div class="field"><input type="text" id="CartDrawer-DiscountCode" name="discount" class="field__input" placeholder="{{ 'cart.discount_code' | t }}" aria-label="{{ 'cart.discount_code' | t }}"></div>
                                <button type="button" class="button cart-drawer__discount-apply" name="apply">{{- 'cart.apply' | t -}}</button>
                              </div>
                              <div class="cart-drawer__discount-message" role="status" aria-live="polite"></div>
                            </div>
                          </div>
                        </details>
                      </accordion-default>
                    </div>

                    <div class="cart-drawer__summary-actions">
                      {%- if settings.show_cart_terms != 'none' -%}
                        {%- assign cd_terms = settings.cart_terms | replace: '<p>', '' | replace: '</p>', '' -%}
                        <div class="cart-drawer__terms">
                          <div class="checkbox checkbox--plain">
                            <input type="checkbox" name="terms" required id="Terms-Conditions">
                            <label for="Terms-Conditions">{{- cd_terms -}}</label>
                          </div>
                        </div>
                      {%- endif -%}
                      <div class="cart-drawer__action-buttons">
                        {%- liquid
                          assign view_cart_text = 'cart.view_cart' | t
                          assign checkout_text = 'cart.checkout' | t
                        -%}
                        <a 
                          href="{{ routes.cart_url }}" 
                          onclick="window.location.href='{{ routes.cart_url }}';" 
                          class="cart-drawer__btn-view-cart button" 
                          role="button">
                          {{ view_cart_text }}
                        </a>
                        {%- render 'button', type: 'submit', name: 'checkout', value: checkout_text, style: 'solid', fullwidth: true, class: 'button' -%}
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</cart-drawer>
