{% style %}
  .menu-text-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-text-list-item {
  border-top: 1px solid #eee;
  padding: 14px 0;
}

.menu-text-list-item:last-child {
  border-bottom: 1px solid #eee;
}

.menu-text-link {
  text-decoration: none;
  font-size: 16px;
  color: #111;
  display: block;
}
.mobile-submenu-cards {
  padding:  8px;
}

.mobile-submenu-title {
  font-size: 16px;
  color: #111;
  display: block;
  margin-bottom: 10px;
  padding-left: 2px;
}

.menu-cards-row {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-top: 12px;
}

.menu-card {
  flex: 0 0 auto;
  width: 80px;
  text-align: center;
}

.menu-card-media {
  position: relative;
  display: inline-block;
  overflow: visible;
}

.menu-card-image img {
  width: 150px;
  height: 80px;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

.menu-card-image {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.menu-card-title {
  font-size: 13px;
  color: #111;
  font-weight: 500;
  line-height:normal;
  margin-bottom:10px;
}

.menu-card-badge {
  position: absolute;
  top: -12px;
  left: 0;
  padding: 3px 5px;
  background: #b4975a;
  color: #111;
  font-size: 7px;
  font-weight: 600;
  border-radius: 999px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 2;
}

 

{% endstyle %}

<header-drawer class="drawer drawer--start header__drawer{% unless section.settings.layout == 'header--nav-drawer' %} mobile-drawer large-up-hide{% endunless %}">
  <details id="Navigation-drawer-{{- append_id -}}" class="drawer__container">
    <summary
      class="drawer__button"
      id="Navigation-drawer-button-{{- append_id -}}"
      aria-label="{{- 'theme.actions.open_menu' | t -}}"
    >
      {%- render 'icon', icon_name: 'theme-menu' -%}
      {%- render 'icon', icon_name: 'theme-close-small' -%}

      <noscript>
        {%- render 'icon', icon_name: 'theme-arrow' -%}
      </noscript>
    </summary>

    <div class="drawer__content drawer__content--nav js-drawer color-{{ section.settings.color_scheme_for_drawer }} gradient" id="Navigation-menu-drawer-{{- append_id -}}" tabindex="-1">
      <button
        class="drawer__button-close header-drawer__button-close button-reset small-hide medium-hide no-js-hidden js-btn-close-drawer"
        aria-label="{{- 'theme.actions.close' | t -}}"
      >
        {%- render 'icon', icon_name: 'theme-arrow' -%}
      </button>

      <nav class="slide-out-menu">
        <div class="menu-panels">
          <div class="primary-menu-panel">
 {% for link in menu.links %}
  {% assign link_handle = link.title | handleize %}
  {% assign count_of_cards = 0 %}
  {% for block in section.blocks %}
    {% assign block_link_handle = block.settings.menu_link_title | handleize %}
    {% if block_link_handle == link_handle %}
      {% assign count_of_cards = count_of_cards | plus: 1 %}
    {% endif %}
  {% endfor %}
  {% if count_of_cards > 0 %}
    <div class="mobile-submenu-cards">
      <h4 class="mobile-submenu-title">{{ link.title }}</h4>
      <div class="menu-cards-row">
        {% assign card_count = 0 %}
        {% for block in section.blocks %}
          {% assign block_link_handle = block.settings.menu_link_title | handleize %}
          {% if block_link_handle == link_handle and card_count < 4 %}
            <div class="menu-card">
              <a href="{{ block.settings.link }}" class="menu-card-link">
                {% if block.settings.image != blank %}
                  <div class="menu-card-media">
                    <div class="menu-card-image">
                      {%- render 'image', image: block.settings.image, alt: block.settings.title -%}
                    </div>
                    {% if block.settings.button_type == 'coming' %}
                      <span class="menu-card-badge">Coming Soon</span>
                    {% endif %}
                  </div>
                {% endif %}
                <div class="menu-card-title">{{ block.settings.title }}</div>
              </a>
            </div>
            {% assign card_count = card_count | plus: 1 %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endfor %}



            <ul>
              {% for link in menu.links %}
                
                {% liquid
                  assign link_handle = link.title | handleize
                  assign count_of_cards = 0
                  assign count_of_items = 0

                  for block in section.blocks
                    assign block_link_handle = block.settings.menu_link_title | handleize

                    if link_handle != block_link_handle
                      continue
                    endif

                    if block.settings.title != blank or block.settings.subtitle != blank or block.settings.image != blank
                      assign count_of_cards = count_of_cards | plus: 1
                    endif
                  endfor

                  assign count_of_items = count_of_items | plus: link.links.size | plus: count_of_cards
                %}
                <li>
                  {%- if count_of_items > 0 -%}
                    {% comment %} <button type="button" class="menu-link h4 " style="font-size:18px; font-family:'Fira Sans'; font-weight: 500 !important;" data-ref="{{ link_handle }}">
                      {{ link.title }}
                      {% render 'icon', icon_name: 'theme-chevron', class: 'icon' %}
                    </button> {% endcomment %}
                  {%- else -%}
                    <a href="{{ link.url }}" class="h4" {% if link.current %}aria-current="page"{% endif %}>
                      {{ link.title | escape }}
                    </a>
                  {%- endif -%}
                </li>
              {% endfor %}
            </ul>
          </div>
          {% for link in menu.links %}
            {% liquid
              assign link_handle = link.title | handleize
              assign count_of_cards = 0
              assign count_of_items = 0

              for block in section.blocks
                assign block_link_handle = block.settings.menu_link_title | handleize

                if link_handle != block_link_handle
                  continue
                endif

                if block.settings.title != blank or block.settings.subtitle != blank or block.settings.image != blank
                  assign count_of_cards = count_of_cards | plus: 1
                endif
              endfor

              assign count_of_items = count_of_items | plus: link.links.size | plus: count_of_cards
            %}
            {% if count_of_items == 0 %}
              {% continue %}
            {% endif %}
            <div class="menu-panel" data-menu="{{ link_handle }}">
              <button type="button" class="menu-link menu-header">
                {% render 'icon', icon_name: 'theme-chevron', class: 'icon icon--rotate-180' %}
                {{ link.title }}
              </button>
              
         <ul class="menu-text-list">
  {% assign card_count = 0 %}
  {% for block in section.blocks %}
    {% assign block_link_handle = block.settings.menu_link_title | handleize %}
    {% if block_link_handle == link_handle and card_count < 4 %}
      {% if block.settings.title != blank %}
        <li class="menu-text-list-item">
          <a href="{{ block.settings.link }}" class="menu-text-link" style="padding-top:0px; padding-bottom:0px">
            {{ block.settings.title }}
          </a>
        </li>
        {% assign card_count = card_count | plus: 1 %}
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
            


            </div>
           
          {% endfor %}
        </div>
      </nav>

      {%- if submenu != blank -%}
        <div class="drawer__row">
          <nav class="drawer__subnav">
            <ul class="list-unstyled">
              {%- for link in submenu.links -%}
                <li class="drawer__subnav-item">
                  <a
                    href="{{- link.url -}}"
                    class="drawer__subnav-link h6{% if link.current %} is-current{% endif %}"
                    {% if link.current %}aria-current="page"{% endif %}
                  >
                    {{- link.title | escape -}}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </nav>
        </div>
      {%- endif -%}

      <div class="drawer__row drawer__row--bottom">
        <nav class="drawer__subs">
          <ul class="drawer__subs-items list-unstyled">
            <li class="drawer__subs-item">
              <a
                href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                class="drawer__subs-link"
                title="{%- if customer -%}{{ 'customer.account.label' | t }}{%- else -%}{{ 'theme.actions.log_in' | t }}{%- endif -%}"
              >
                {{- 'customer.account.label' | t -}}
              </a>
            </li>
            {%- if section.settings.country_drawer_navigation_menu -%}
              <li class="drawer__subs-item">
                <menu-drawer class="drawer">
                  {%- render 'country-drawer',
                    button_class: ' drawer__subs-link',
                    section: section,
                    append_id: 'header-drawer-' | append: section.id
                  -%}
                </menu-drawer>
              </li>
            {%- endif -%}
          </ul>
        </nav>
        <div class="drawer__social">
          <ul class="drawer__social-list list-unstyled">
            {% render 'social-media', item_tag: 'li', in_new_tab: true, item_icon: true %}
          </ul>
        </div>
      </div>
    </div>
  </details>
</header-drawer>
